bs4
colorama
wcwidth
requests
ffmpy
inquirer
pycountry
tqdm
future
cssutils
pycaption
pymediainfo
isodate
untangle
tldextract
unidecode
yarl
natsort
titlecase==2.0.0
prettytable
termcolor
pproxy
pysrt
protobuf
pycryptodomex
